<div class="templateName"> artistEdit </div>

<div class="dbList"> 
{{ @index }}
  <form id="editArtistForm" action="/artistInfo" method="post"> 
  	<img class="artistThumbnail" src="{{artistData.picture}}"/>
    <!-- <button type="submit" name="remove">Delete Artist</button> <button type="submit" name="submit">Update</button> -->
  <!-- 	<a class="editArtist" href="/artist/{{artistData._id}}/edit">Edit/Delete</a> -->
  	<h2 class="clearfix">Artist: {{artistData.artist}}</h2>
  	<p class="dbItemNoHover">Picture URL: <textarea name="picture" rows="1" cols="40">{{artistData.picture}}</textarea></p>
    <p class="dbItemNoHover">Genres: <textarea name="genres" rows="1" cols="40">{{artistData.genres}}</textarea></p>
  	<p class="dbItemNoHover">Spotify ID: <span name="sID">{{artistData.spotifyID}}</span></p>
  <!-- 	<p class="dbItemNoHover">Songs: <textarea name="song1" rows="1" cols="40">{{artistData.songs}}</textarea></p> -->
    <p class="hidden">DB ID: <textarea name="uid" rows="1" cols="40">{{artistData._id}}</textarea></p>
  <button type="submit" name="submit">Update</button>
  </form>
</div>

<div>
	<p class="templateName">{{artistData}}</p>
</div>

<!-- <div class="dbList">
  <h2>Add Song By Artist:</h2>
  <form id="newSongForm" action="/addSong" method="post"> 
      <div>
        <h4>Song Title:</h4>
        <input type="textarea" name="track" value="">
      </div>
      <div>
        <button type="submit" name="submit">Search and Add</button>
      </div>
  </form>
</div> -->