<div class="templateName"> artistInfo </div>

<div class="dbList"> 
{{ @index }}

	<img class="artistThumbnail" src="{{artistData.picture}}"/>
	<button class="editArtist"><a href="/artist/{{artistData._id}}/edit">Edit/Delete</a></button>
	<h2 class="clearfix">Artist: {{artistData.artist}}</h2>
	<p class="dbItemNoHover">Genres: {{artistData.genres}}</p>
	<p class="dbItemNoHover">Spotify ID: {{artistData.spotifyID}}</p>
	<p class="dbItemNoHover">Songs: {{artistData.songs}}</p>
</div>

<div>
	<p class="templateName">{{artistData}}</p>
</div>

<div class="dbList">
  <h2>Add Song By Artist:</h2>
  <form id="newSongForm" action="/addSong" method="post"> 
      <div>
        <h4>Song Title:</h4>
        <input type="textarea" name="track" value="">
      </div>
      <div>
        <button type="submit" name="submit">Search and Add</button>
      </div>
  </form>
</div>