<div class="templateName"> songs </div>

<div class="dbList">
	<h2>All Songs in DB</h2>
		<div>
			{{#if songs}}
				{{#each songs}}
					<a href="/artist/{{id}}"> 
					<div class="dbItem">
						<img src="{{album}}"/> <h3>{{title}} - by {{artist}}</h3>
						<!-- <img {{bind-attr src="picture"}} /> picture not working -->

					</div> </a>
				{{/each}}

			{{else}}
				<div class="dbItem"> 
					there are no songs yet - go ADD some under the artist!
				</div>

			{{/if}}
		</div>

</div>
